<div class="topnav">
    <a class="active" href="./#!/autoshop/home">Home</a>
    <a href="./#!/autoshop/salesmen">Salesmen</a>
    <a href="./#!/autoshop/mechanics">Mechanics</a>
    <a href="./#!/autoshop/sales">Sales</a>
</div>
<div class="row">
    <div class="col-md-12 customer-page-title">
        <h1>Mechanic Shop and Car Sales</h1>
    </div>
</div>
