<div class="row">

    <div class="col-md-6 center-block float-none" style="margin-top:50px;" ng-if="mechanics != null && mechanics != undefined">
        <span style="font-weight:bold; font-size: 28px; ">Mechanics</span>
        <div ng-if="mechanics.length > 0">
            <table style="background-color:whitesmoke; background:rgba(255,255,255,0.9);">
                <tr>
                    <th style="padding-right:25px">Last Name</th>
                    <th style="padding-right:25px">First Name</th>
                    <th style="padding-right:25px">Employee Id</th>
                    <th style="padding-right:25px">Social Security Number</th>
                    <th></th>
                </tr>
                <tr style="margin-bottom:10px;" ng-repeat = "mechanic in mechanics">
                    <td style="padding-right:25px">{{ mechanic.lastName }} </td>
                    <td style="padding-right:25px">{{ mechanic.firstName }}</td>
                    <td style="padding-right:25px">{{ mechanic.employeeId }}</td>
                    <td style="padding-right:25px">{{ mechanic.socialSecurity }}</td>
                    <td><button type="button" class="btn btn-primary" ng-click="loadWorkOrders(mechanic.employeeId)">Work Orders</button></td>
                </tr>
            </table>
        </div>
        <div ng-if="salesmen.length == 0">
            <span style="font-weight:bold; font-size: 18px; ">No Mechanics Available</span>
        </div>

    </div>
</div>

