<div class="row">

    <div class="col-md-6 center-block float-none" style="margin-top:50px;" ng-if="sales != null && sales != undefined">
        <span style="font-weight:bold; font-size: 28px; ">Sales</span>
        <div ng-if="sales.length > 0">
            <table style="background-color:whitesmoke; background:rgba(255,255,255,0.9);">
                <tr>
                    <th style="padding-right:25px">Date</th>
                    <th style="padding-right:25px">Sale Type</th>
                    <th style="padding-right:25px">Amount</th>
                    <th style="padding-right:25px"></th>
                </tr>
                <tr ng-repeat = "sale in sales">
                    <td style="padding-right:25px">{{ sale.order.date }} </td>
                    <td style="padding-right:25px">{{ sale.orderType }}</td>
                    <td style="padding-right:25px">${{ sale.amount }}</td>
                    <td><button type="button" class="btn btn-primary" ng-click="loadSale(sale.order.orderId, sale.orderType)">View</button></td>
                </tr>
            </table>
        </div>
        <div ng-if="sales.length == 0">
            <span style="font-weight:bold; font-size: 18px; ">No Sales Available</span>
        </div>

    </div>
</div>

