<div class="row">
    <div class="col-md-12" style="margin-top:50px;" ng-if="salesmanSalesOrders != null && salesmanSalesOrders != undefined">
        <div style="margin-left:25px;">
            <span style="font-size:28px; font-weight:bold;">Salesman</span>
            <br />
            <span style="font-weight:bold; padding-right:10px;">First Name:</span>{{
            salesmanSalesOrders.salesman.firstName }}
            <br />
            <span style="font-weight:bold; padding-right:10px;">Last Name:</span>{{
            salesmanSalesOrders.salesman.lastName }}
            <br />
            <span style="font-weight:bold; padding-right:10px;">Employee Id:</span> {{
            salesmanSalesOrders.salesman.employeeId }}
            <br />
            <span style="font-weight:bold; padding-right:10px;">Social Security:</span>{{
            salesmanSalesOrders.salesman.socialSecurity }}
            <br />
            <br />
            <br />
        </div>
        <div style="margin-left:25px;">

            <table style="background-color:whitesmoke; background:rgba(255,255,255,0.9);">
                <tr>
                    <th style="padding-right:25px">Order Id</th>
                    <th style="padding-right:25px">Date</th>
                    <th style="padding-right:25px">Amount</th>
                    <th style="padding-right:25px">Car VIN</th>
                    <th style="padding-right:25px">Car Make</th>
                    <th style="padding-right:25px">Car Model</th>
                    <th style="padding-right:25px">First Name</th>
                    <th style="padding-right:25px">Last Name</th>
                    <th style="padding-right:25px">Address</th>
                    <th style="padding-right:25px">City</th>
                    <th style="padding-right:25px">State</th>
                    <th style="padding-right:25px">Zipcode</th>
                    <th style="padding-right:25px">Phone</th>
                    <th></th>
                </tr>
                <tr ng-repeat = "salesOrder in salesmanSalesOrders.salesOrders">
                    <td style="padding-right:25px">{{ salesOrder.orderId }} </td>
                    <td style="padding-right:25px">{{ salesOrder.date }} </td>
                    <td style="padding-right:25px">${{ salesOrder.amount }} </td>
                    <td style="padding-right:25px">{{ salesOrder.automobile.vin }}</td>
                    <td style="padding-right:25px">{{ salesOrder.automobile.make }}</td>
                    <td style="padding-right:25px">{{ salesOrder.automobile.model }}</td>
                    <td style="padding-right:25px">{{ salesOrder.customer.firstName }}</td>
                    <td style="padding-right:25px">{{ salesOrder.customer.lastName }}</td>
                    <td style="padding-right:25px">{{ salesOrder.customer.address }}</td>
                    <td style="padding-right:25px">{{ salesOrder.customer.city}}</td>
                    <td style="padding-right:25px">{{ salesOrder.customer.state}}</td>
                    <td style="padding-right:25px">{{ salesOrder.customer.zipcode}}</td>
                    <td style="padding-right:25px">{{ salesOrder.customer.phone }}</td>

                </tr>
            </table>


        </div>
        <div ng-if="salesmanSalesOrders.saleOrders.length() == 0">
            <span style="font-weight:bold; font-size: 18px; ">No Sales</span>
        </div>

    </div>
</div>

