<div class="row">

    <div class="col-md-6 center-block float-none" style="margin-top:50px;" ng-if="salesmen != null && salesmen != undefined">
        <span style="font-weight:bold; font-size: 28px; ">Salesmen</span>
        <div ng-if="salesmen.length > 0">
            <table style="background-color:whitesmoke; background:rgba(255,255,255,0.9);">
                <tr>
                    <th style="padding-right:25px">Last Name</th>
                    <th style="padding-right:25px">First Name</th>
                    <th style="padding-right:25px">Employee Id</th>
                    <th style="padding-right:25px">Social Security Number</th>
                    <th></th>
                </tr>
                <tr ng-repeat = "salesman in salesmen">
                    <td style="padding-right:25px">{{ salesman.lastName }} </td>
                    <td style="padding-right:25px">{{ salesman.firstName }}</td>
                    <td style="padding-right:25px">{{ salesman.employeeId }}</td>
                    <td style="padding-right:25px">{{ salesman.socialSecurity }}</td>
                    <td><button type="button" class="btn btn-primary" ng-click="loadSales(salesman.employeeId)">Sales</button></td>
                </tr>
            </table>
        </div>
        <div ng-if="salesmen.length == 0">
            <span style="font-weight:bold; font-size: 18px; ">No Salesmen Available</span>
        </div>

    </div>
</div>

