<div class="row">
    <!--------------------------------------------------------------------------------
        THIS IS OUR VIEW IF WE ARE LOOKING AT A SALESMAN SALES ORDER
        *****************************************************************************
    -->

    <div class="col-md-12" style="margin-top:50px;" ng-if="salesmanSalesOrders != null && salesmanSalesOrders != undefined">
        <div style="margin-left:25px;">
            <span style="font-size:28px; font-weight:bold;">Salesman</span>
            <br />
            <span style="font-weight:bold; padding-right:10px;">First Name:</span>{{
            salesmanSalesOrders.salesman.firstName }}
            <br />
            <span style="font-weight:bold; padding-right:10px;">Last Name:</span>{{
            salesmanSalesOrders.salesman.lastName }}
            <br />
            <span style="font-weight:bold; padding-right:10px;">Employee Id:</span> {{
            salesmanSalesOrders.salesman.employeeId }}
            <br />
            <span style="font-weight:bold; padding-right:10px;">Social Security:</span>{{
            salesmanSalesOrders.salesman.socialSecurity }}
            <br />
            <br />
            <br />
        </div>
        <div style="text-align:center; font-size:28px; font-weight: bold; margin-bottom:25px;">Sales Order</div>
        <div style="margin-left:25px;">

            <table style="background-color:whitesmoke; background:rgba(255,255,255,0.9);">
                <tr>
                    <th style="padding-right:25px">Order Id</th>
                    <th style="padding-right:25px">Date</th>
                    <th style="padding-right:25px">Amount</th>
                    <th style="padding-right:25px">Car VIN</th>
                    <th style="padding-right:25px">Car Make</th>
                    <th style="padding-right:25px">Car Model</th>
                    <th style="padding-right:25px">First Name</th>
                    <th style="padding-right:25px">Last Name</th>
                    <th style="padding-right:25px">Address</th>
                    <th style="padding-right:25px">City</th>
                    <th style="padding-right:25px">State</th>
                    <th style="padding-right:25px">Zipcode</th>
                    <th style="padding-right:25px">Phone</th>
                    <th></th>
                </tr>
                <tr ng-repeat = "salesOrder in salesmanSalesOrders.salesOrders">
                    <td style="padding-right:25px">{{ salesOrder.orderId }} </td>
                    <td style="padding-right:25px">{{ salesOrder.date }} </td>
                    <td style="padding-right:25px">${{ salesOrder.amount }} </td>
                    <td style="padding-right:25px">{{ salesOrder.automobile.vin }}</td>
                    <td style="padding-right:25px">{{ salesOrder.automobile.make }}</td>
                    <td style="padding-right:25px">{{ salesOrder.automobile.model }}</td>
                    <td style="padding-right:25px">{{ salesOrder.customer.firstName }}</td>
                    <td style="padding-right:25px">{{ salesOrder.customer.lastName }}</td>
                    <td style="padding-right:25px">{{ salesOrder.customer.address }}</td>
                    <td style="padding-right:25px">{{ salesOrder.customer.city}}</td>
                    <td style="padding-right:25px">{{ salesOrder.customer.state}}</td>
                    <td style="padding-right:25px">{{ salesOrder.customer.zipcode}}</td>
                    <td style="padding-right:25px">{{ salesOrder.customer.phone }}</td>

                </tr>
            </table>


        </div>
        <div ng-if="salesmanSalesOrders.saleOrders.length() == 0">
            <span style="font-weight:bold; font-size: 18px; ">No Sales</span>
        </div>

    </div>


    <!--------------------------------------------------------------------------------
        THIS IS OUR VIEW IF WE ARE LOOKING AT A MECHANIC WORK ORDER
        *****************************************************************************
    -->


    <div class="col-md-12" style="margin-top:50px;" ng-if="mechanistWorkOrders != null && mechanistWorkOrders != undefined">
        <div style="margin-left:25px;">
            <span style="font-size:28px; font-weight:bold;">Mechanic</span>
            <br />
            <span style="font-weight:bold; padding-right:10px;">First Name:</span>{{
            mechanistWorkOrders.mechanic.firstName }}
            <br />
            <span style="font-weight:bold; padding-right:10px;">Last Name:</span>{{
            mechanistWorkOrders.mechanic.lastName }}
            <br />
            <span style="font-weight:bold; padding-right:10px;">Employee Id:</span> {{
            mechanistWorkOrders.mechanic.employeeId }}
            <br />
            <span style="font-weight:bold; padding-right:10px;">Social Security:</span>{{
            mechanistWorkOrders.mechanic.socialSecurity }}
            <br />
            <br />
            <br />
        </div>
        <div style="text-align:center; font-size:28px; font-weight: bold; margin-bottom:25px;">Work Order</div>
        <div style="margin-left:25px;">

            <table style="background-color:whitesmoke; background:rgba(255,255,255,0.5);">
                <tr>
                    <th style="padding-right:25px">Order Id</th>
                    <th style="padding-right:25px">Date</th>
                    <th style="padding-right:25px">Car VIN</th>
                    <th style="padding-right:25px">Car Make</th>
                    <th style="padding-right:25px">Car Model</th>
                    <th style="padding-right:25px">Job Type</th>
                    <th style="padding-right:25px">Rate</th>
                    <th style="padding-right:25px">Hours</th>
                    <th style="padding-right:25px">Charged</th>
                    <th style="padding-right:25px">First Name</th>
                    <th style="padding-right:25px">Last Name</th>
                    <th style="padding-right:25px">Address</th>
                    <th style="padding-right:25px">City</th>
                    <th style="padding-right:25px">State</th>
                    <th style="padding-right:25px">Zipcode</th>
                    <th style="padding-right:25px">Phone</th>
                    <th></th>
                </tr>
                <tr ng-repeat = "workOrder in mechanistWorkOrders.workOrders">
                    <td style="padding-right:25px">{{ workOrder.orderId }}</td>
                    <td style="padding-right:25px">{{ workOrder.date }}</td>
                    <td style="padding-right:25px">{{ workOrder.automobile.vin }}</td>
                    <td style="padding-right:25px">{{ workOrder.automobile.make }}</td>
                    <td style="padding-right:25px">{{ workOrder.automobile.model }}</td>

                    <td style="padding-right:25px">{{ workOrder.jobType.jobName}}</td>
                    <td style="padding-right:25px">{{ workOrder.jobType.costPerHour }}</td>
                    <td style="padding-right:25px">{{ workOrder.invoice.hours}}</td>
                    <td style="padding-right:25px">${{workOrder.charged}}</td>

                    <td style="padding-right:25px">{{ workOrder.customer.firstName }}</td>
                    <td style="padding-right:25px">{{ workOrder.customer.lastName }}</td>
                    <td style="padding-right:25px">{{ workOrder.customer.address }}</td>
                    <td style="padding-right:25px">{{ workOrder.customer.city}}</td>
                    <td style="padding-right:25px">{{ workOrder.customer.state}}</td>
                    <td style="padding-right:25px">{{ workOrder.customer.zipcode}}</td>
                    <td style="padding-right:25px">{{ workOrder.customer.phone }}</td>

                </tr>
            </table>


        </div>
        <div ng-if="mechanistWorkOrders.saleOrders.length() == 0">
            <span style="font-weight:bold; font-size: 18px; ">No Sales</span>
        </div>

    </div>

</div>


